<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Money - cash expense accounting program">
    <meta name="author" content="Aligero">
    <title>Cash Money</title>
    <link rel="manifest" href="/static/manifest.json">
    <link rel="shortcut icon" href="/static/chart.png">
    <script type="module" crossorigin src="/static/assets/index-CAo9hGbR.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-O0S47CY-.css">
  </head>
  <body>
    <noscript>
      You need to enable JavaScript to run this app
    </noscript>
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
